* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* UTILS */
body {
	font-family: "Edu TAS Beginner", cursive;
	font-optical-sizing: auto;
	font-style: normal;
	background-image: url(../img/cork.png);
}

img {
	width: 100%;
}

h1 {
	font-size: 5rem;
}

/* HEADER */
#titolo {
	background-image: url(../img/wall.png);
}

/* MAIN */
.card {
	border-radius: 0%;
	position: relative;
}

.pin {
	position: absolute;
	width: 10%;
	top: -3%;
	left: 46%;
}

.card:hover {
	transform: rotate(10deg);
	transform-origin: 60% 80%;
	z-index: 1;
}

.card:hover .pin {
	display: none;
}

#overlay-card {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#card-aperta {
	width: 500px;
}

@media screen and (max-width: 575px) {
	h1 {
		font-size: 3rem;
	}
	#card-row {
		padding: 0 100px;
	}
}
