body {
	font-family: "Edu TAS Beginner", cursive;
	font-optical-sizing: auto;
	font-style: normal;
	background-image: url(../img/cork.png);
}

#titolo {
	background-image: url(../img/wall.png);
}

.list-cards {
	max-width: 1000px;
	margin: 0 auto;
}

.pin {
	position: absolute;
	width: 10%;
	top: -3%;
	left: 46%;
}

img {
	width: 100%;
}

h1 {
	font-size: 5rem;
}

.card {
	border-radius: 0%;
	position: relative;
}

@media screen and (max-width: 1200px) {
	.list-cards {
		margin: 0 100px;
	}
}
