* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* UTILS */
body {
	font-family: "Edu TAS Beginner", cursive;
	font-optical-sizing: auto;
	font-style: normal;
	background-image: url(../img/cork.png);
}

img {
	width: 100%;
}

h1 {
	font-size: 5rem;
}

/* HEADER */
#titolo {
	background-image: url(../img/wall.png);
}

/* MAIN */
.card {
	border-radius: 0%;
	position: relative;
	cursor: pointer;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

.pin {
	position: absolute;
	width: 10%;
	top: -3%;
	left: 46%;
}

.card:hover {
	transform: scale(1.1) rotate(10deg);
	z-index: 1;
	box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.5);
}

.card:hover .pin {
	display: none;
}

#overlay-card {
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#card-aperta {
	width: 500px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
	#card-aperta {
		width: 400px;
	}
}

@media screen and (max-width: 576px) {
	#card-row {
		padding: 0 100px;
	}

	#card-aperta {
		width: 300px;
	}
}
